.contentBoxWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    background-color: #16202d;
    border: 1px solid #000;
}

.contentBoxHeader {
    background: linear-gradient( to right, #2a475e 50%, #1b2838 100% );
    width: 100%;
}

.contentBoxContent {
    background: linear-gradient(to right, rgba(27, 40, 58, 0.5), rgba(27, 40, 58, 1));
    padding: 10px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

.achievementImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: left; /* Space achievements evenly */
    margin-bottom: 10px; /* Add some space below the images */
}

.statBoxContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #121a23; /* Even darker background */
    padding: 10px 0; /* Add some vertical padding */
}

.contentBoxTitle {
    margin: 0;
    font-weight: 100; 
    font-size: 25px;
    padding: 5px
}

@media (max-width: 768px) {
    .contentBoxTitle {
        font-size: 20px;
    }
}