.profilePic {
    width: 200px;
    height: 200px;
}

.profileSubheader {
    padding:5px;
    margin:0;
    font-weight: 500;
    font-size: small;
    position: absolute;
    top: calc(200px - 1lh)
}

.wrapper {
    display: inline-block;
    border: 5px solid black;
}